# Postgres
POSTGRES_USER=ml_prak_user
POSTGRES_PASSWORD=change_me_super_secret
POSTGRES_DB=ml_prak_db
POSTGRES_PORT=5432

# Redis
REDIS_PASSWORD=change_me_redis_secret
REDIS_PORT=6379

# FastAPI server
SERVER_PORT=8000

# Nginx
NGINX_PORT=80

# Dipakai di server/.env atau config.py kamu
DATABASE_URL=postgresql+asyncpg://ml_prak_user:change_me_super_secret@db:5432/ml_prak_db
REDIS_URL=redis://:change_me_redis_secret@redis:6379/0
